.swiper {
  width: 100%;
  height: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
  background: rgb(129 144 153 / var(--tw-text-opacity));
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  text-align: center;
  font-size: 18px;

  background: transparent;
  width: 475px;
  height: 475px;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: end;
  justify-content: start;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 130%;
  height: 100%;
  -webkit-background-size: cover;
  background-size: cover;
  background-position: center;
}

.swiper-wrapper {
  height: auto;
  margin-right: 100px;
  margin-bottom: 5px;
}

.swiper-pagination-bullet {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  font-size: 14px;
  color: #000;
  opacity: 1;
  background: white;
}

.swiper-pagination-bullet-active {
  color: #fff;
  background: #007aff;
}
