.slider {
    display: inline-block;
    flex-direction: row;
    text-align: center;
}

.slider, img {
    width: 200px;
    height: 120px;
    margin: 10px;
}

.slider, p {
    width: 200px;
    height: 200px;
}

.list {
    display: inline-block;
    flex-direction: row;
    grid-template-columns: 400px 400px 400px 400px;
    height: 200px;
    text-align: center;
}

.list, img {
    width: 300px;
}

.list, p {
    width: 300px;
}